style.css

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Kufi Arabic',sans-serif;
}

body{
background:#0f172a;
color:white;
padding:15px;
min-height:100vh;
}

.container{
max-width:700px;
margin:auto;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
background:#1e293b;
padding:15px;
border-radius:16px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:18px;
margin-bottom:15px;
}

input{
width:100%;
padding:14px;
border:none;
border-radius:14px;
background:#0f172a;
color:white;
margin-bottom:10px;
font-size:15px;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:14px;
background:#22c55e;
color:white;
font-size:15px;
font-weight:bold;
cursor:pointer;
}

button:active{
transform:scale(.98);
}

.loginScreen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.loginBox{
width:90%;
max-width:350px;
background:#1e293b;
padding:25px;
border-radius:20px;
}

.loginBox h1{
text-align:center;
margin-bottom:20px;
font-size:24px;
}

.adminModal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
display:none;
justify-content:center;
align-items:center;
z-index:99999;
}

.adminBox{
width:90%;
max-width:350px;
background:#1e293b;
padding:20px;
border-radius:20px;
}

.adminBox h3{
margin-bottom:15px;
text-align:center;
}

.closeBtn{
margin-top:10px;
background:#ef4444;
}

.mealCard{
background:#0f172a;
padding:15px;
border-radius:14px;
margin-top:10px;
border:1px solid rgba(255,255,255,.05);
}

.mealNum{
color:#facc15;
font-weight:bold;
margin-bottom:5px;
}

.mealBranch{
margin-top:6px;
font-size:13px;
color:#94a3b8;
}
